<div class="panel panel-default">
  <div class="panel-body">
    <form id="contact-edit" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            [(ngModel)]="contact.name"
            required
            #name="ngModel"
            size="120"
            maxlength="120"
            [class.is-invalid]="name.invalid && (name.touched || f.submitted)"
            [attr.aria-invalid]="name.invalid && (name.touched || f.submitted)">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            class="form-control"
            name="email"
            [(ngModel)]="contact.email"
            required
            #email="ngModel"
            size="120"
            maxlength="255"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            [class.is-invalid]="email.invalid && (email.touched || f.submitted)"
            [attr.aria-invalid]="email.invalid && (email.touched || f.submitted)">
          <div class="text-danger" *ngIf="email.touched && email.invalid">
            Enter a valid Email address.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="phone">Phone:</label>
          <input
            type="text"
            id="phone"
            class="form-control"
            name="phone"
            [(ngModel)]="contact.phone"
            #phone="ngModel"
            size="150"
            maxlength="255"
            pattern="\D*([2-9]\d{2})(\D*)([2-9]\d{2})(\D*)(\d{4})\D*"
            [class.is-invalid]="phone.invalid && (phone.touched || f.submitted)"
            [attr.aria-invalid]="phone.invalid && (phone.touched || f.submitted)">
          <div class="text-danger" *ngIf="phone.touched && phone.invalid">
            Enter a valid phone number.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="imageUrl">Image URL:</label>
          <input
            type="url"
            id="imageUrl"
            class="form-control"
            name="imageUrl"
            [(ngModel)]="contact.imageUrl"
            size="150"
            maxlength="255">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="groupList">Group Contacts:</label>

          <div class="row" id="groupList" style="min-height: 3rem;">
            <div *ngFor="let c of groupContacts; let i = index" class="col-xs-12">
              <div class="d-flex align-items-center">
                <cms-contact-item class="col-sm-11" [contact]="c"></cms-contact-item>
                <button
                  class="btn btn-danger col-sm-1"
                  type="button"
                  (click)="onRemoveItem(i)">
                  X
                </button>
              </div>
            </div>

            <span class="dragMsg" *ngIf="!groupContacts || groupContacts.length < 1">
              Drag contacts in group here
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-danger" *ngIf="!f.valid">
            The Name and Email fields are required.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
