<div class="panel panel-default" *ngIf="document">
  <div class="panel-heading">
    <h3 class="panel-title">{{ document.name }}</h3>
    <a class="btn btn-primary pull-right" [routerLink]="['edit']" type="button">
  Edit
    </a>

    <a class="btn btn-success pull-right" [href]="document.url" target="_blank">
  View
</a>
<a class="btn btn-danger pull-right" (click)="onDelete()">
  Delete
</a>



  </div>

  <div class="panel-body">
    <p><strong>Description:</strong> {{ document.description }}</p>
    <p><strong>URL:</strong> <a [href]="document.url" target="_blank">{{ document.url }}</a></p>
  </div>
</div>
